<div class="container-fluid p-5 text-center bg-dark text-white">
    <h1>Christopher Seals</h1>
    <br>
    <div class="row">
        <div class="col-sm-4">
        <h4>About Me</h4>
        <p>
            <i>Chris Seals</i>
        </p>
        <figure class="figure">
            <img src="/me.jpeg" class="figure-img img-fluid rounded" alt="Me, - Chris Seals">
        </figure>
        <p class="text-start">
            Currently, I am a software engineer at TVA, I first made this website after my second year at ETSU. Looking back, I can tell I have come a long way! I've always been interested in technology so I knew almost immediately I wanted to major in computing when I was looking for colleges. What really made my decision was when I took an AP Computer Science course during my senior year of high school, I really had fun in that class and it made me sure in going into technology.
        </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <h4>Experience</h4>
        <br>
        <ul class="text-start">
            <li>
            <b>TVA</b>, <i>Working Remotely</i> — <b>Software Engineer A</b><br>
            December 2023 - Current<br>
            I moved to a full time position with TVA after I graduated from ETSU in 2023. I have been working on the same technology stack when I was an intern, so that includes Angular, Java, and .NET web applications. In this role I help support previous applications with bug fixes, as well as developing new applications in Angular for offline apps.
            </li>
            <br>
            <br>
            <br>
            <li>
            <b>TVA</b>, <i>Working Remotely</i> — <b>Intern</b><br>
            May 2023 - December 2023<br>
            Assisted the LPVM team. In this role I developed a dashboard to help track internal tickets for the team, as well as helped with development for their application portfolio. While working in this role I was able to get experience working with Angular apps and an older Java web application.
            </li>
        </ul>
        </div>
    </div> <!--row-->
    <br>
    <div class="row">
        <div class="col-sm-4">
        <h4>Skills</h4>
        <br>
        <ul class="text-start">
            <li>Hard worker</li><br>
            <li>Fast Learner</li><br>
            <li>Communication</li><br>
            <li>Object-oriented programming (OOP)</li>
        </ul>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <h4>Education</h4>
        <br>
        <ul class="text-start">
            <li>
            <b>Cherokee High School</b>, <i>2927 TN-66, Rogersville, TN 37857</i> — <b>High School Diploma</b><br>
            August 2016 - May 2020
            </li>
            <br>
            <li>
            <b>East Tennessee State University</b>, <i>Johnson City, TN 37614</i> - <b>Bachelor's Degree for Computing, IT concentration</b><br>
            August 2020 - December 2023.
            3.9 GPA
            </li>
        </ul>
        </div>
    </div> <!--row-->
    <div class="row">
        <div class="col-sm-4">
        <h4>Awards</h4>
        <br>
        <ul class="text-start">
            <li>ETSU Provost Scholarship</li><br>
            <li>ETSU CBAT Kenneth and Sarah Simonds Business and Tech Scholarship</li><br>
            <li>ETSU Dean's List: Every semester at ETSU</li>
        </ul>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <h4>My familarity with Programming languages and frameworks</h4>
        <p>The time after each language and framework is how long I have been using or practicing with them. The bars below each point indicate my familiarity with each of them</p>
        <ul class="text-start">
            <li>
            C# and .NET - 1 year<br>
            <div class="progress">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
            </li>
            <br>
            <li>
            Angular - 6 months<br>
            <div class="progress">
                <div class="progress-bar" style="width: 65%;"></div>
            </div>
            </li>
            <br>
            <li>
            Java - 1 year<br>
            <div class="progress">
                <div class="progress-bar" style="width: 45%;"></div>
            </div>
            </li>
            <br>
            <li>
            Bootstrap - 4 months<br>
            <div class="progress">
                <div class="progress-bar" style="width: 30%;"></div>
            </div>
            </li>
            <br>
            <li>
            Javascript and JQuery - 1 year<br>
            <div class="progress">
                <div class="progress-bar" style="width: 65%;"></div>
            </div>
            </li>
            <br>
            <li>
            ASP.NET - 6 months<br>
            <div class="progress">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
            </li>
            <br>
            <li>
            Python and Django - 1 months<br>
            <div class="progress">
                <div class="progress-bar" style="width: 20%;"></div>
            </div>
            </li>
            <br>
            <li>
            SQL - 1 year<br>
            <div class="progress">
                <div class="progress-bar" style="width: 40%;"></div>
            </div>
            </li>
        </ul>
        </div>
    </div> <!--row-->
    <br>
    <p>
        <button class="btn btn-primary" (click)="GoogleDoc()" title="Google Doc Resume">View my resume as a Google Doc here!</button>
    </p>
</div> <!--container-fluid-->