<div class="container-fluid p-5 text-center bg-dark text-white">
    <h1 id="java">CSCI-1260 Java Game Project</h1>
    <figure class="figure">
      <img src="notepadGUI.png" alt="Picture of my Notepad GUI" class="figure-img img-fluid rounded">
      <figcaption>My notepad GUI inside the IntelliJ SceneBuilder</figcaption>
    </figure>
    <p>
      For this class, we were tasked with creating a game in <b>Java</b> using the <b>JavaFX</b> platform for a desktop app. The class voted for different ideas to create a game about and we came to the idea of a murder mystery game. While creating the game we had different requirements such as using objects with inheritance and interfaces as well as using a hashmap for the actual map in the game.
    </p>
    <p>
      The game read data from a text file to start up the different items and people you interact with. It would also save the results of your game to a text file to show your score after you completed it. Some other things to note are a slide puzzle to do after you find one clue, a notepad you could use, and randomization so it was different each playthrough.
    </p>
    <p>
      My contributions to this project were the file writer file that would save the results of a game to a text file, a separate window for the application that would allow you to use a notepad to put notes down for reference, and a method to randomize the objects for a game. This project really showed me just how substantial a project can be the more ideas you add to it. It was a very good experience for me as I learned more about working in a team for a bigger project as well as more experience in OOP with <b>Java</b>. At this point, I had been using <b>Java</b> for a year, as I took AP CS in high school and CSCI-1250 the semester before.
    </p>
    <p>

    </p>
    <p class="text-start">Language used:</p>
    <ul class="text-start text-info">
      <li>Java, with JavaFX</li>
    </ul>
    <p>
      Here is a link to the gitub repository for the project: 
      <a href="https://github.com/chrisseals98/Murder-Mansion-Game" class="link-info" target="_blank">CSCI-1260 Final</a>
    </p>
</div>