/* .container {
margin-top: 100px;
text-align: center;
}

.display-1 {
font-size: 6rem;
}

.lead {
font-size: 1.5rem;
}

.btn {
color: #ffffff;
background-color: #007bff; /* Bootstrap primary color for buttons */
