<div class="container-fluid p-5 text-center bg-dark text-white">
    <h1>About this site</h1>
    <figure class="figure">
      <img src="bootstrap.png" alt="Bootstrap logo" class="figure-img img-fluid rounded">
    </figure>
    <p style="text-indent: 50px;">
      First off, thank you for coming to my site and looking around! I really appreciate it. Now, let me tell you more about this site. I made this site with <b>Bootstrap</b> for styling, and any icons you see were from the free open source icon library from <b>Bootstrap</b>! <strong>Thank you Bootstrap!</strong> I did a tiny bit of <b>CSS</b> to override some of the default stylings, but I tried to use the bootstrap classes as much as possible without having to write <b>CSS</b>. To send emails from the contact page I am using the <b>smptjs</b> cdn along with <b>Elastic Email</b> for smtp server hosting. To host the site I am using AWS S3 buckets for static website hosting, I also got the domain through AWS as well! If you wish to contact me feel free to by using the <a class="text-info" routerLink="contact">Contact Me!</a> page if you haven't!
      
      <p class="text-start"><br>What I used for this site:</p>
        <ul>
          <li class="text-start text-info">HTML</li>
          <li class="text-start text-info">CSS</li>
          <li class="text-start text-info">JavaScript</li>
          <li class="text-start text-info"><a href="https://getbootstrap.com/" class="text-info" target="_blank">Bootstrap</a> and some of its free icons</li>
          <li class="text-start text-info"><a href="https://www.aws.com" class="text-info" target="_blank">AWS</a> was used to host this site!</li>
          <li class="text-start text-info"><a href="https://smtpjs.com/" class="text-info" target="_blank">smtpjs</a> was used to send emails from the contact page!</li>
          <li class="text-start text-info"><a href="https://elasticemail.com/" class="text-info" target="_blank">elasticemail</a> was used to host the smtp server for the contact page!</li>
        </ul>
      <p>
        For easy viewing of the source code, here is the github repository for the site: 
        <a href="https://github.com/chrisseals98/Website" class="link-info" target="_blank">My Website</a>
      </p>
      <br>
      I really had fun making this site and I hope you enjoyed looking around and learning about some projects I have done!
      <br>
      Thank you!
      <br>
      <img src="chatHeartWhite.svg" alt="Thanks!">
</div>