<div class="container-fluid p-5 text-center bg-dark text-white">
    <h1>Linux Projects</h1>
    <figure class="figure">
      <img src="unix_script.png" alt="placeholder" class="figure-img img-fluid rounded">
      <figcaption>Screenshot of the logins.sh script that is in the github link below</figcaption>
    </figure>

    <p>
      In Fall of 2022 I took a <b>Unix fundamentals</b> class where we worked with <b>linux</b> operating systems in a command line environment to do simple tasks such as file manipulation and text manipulation. We also worked with virtual machines where we spun up instances of a <b>linux</b> OS to test and learn! Besides working directly in the command line, we also learned some introduction <b>Bash</b> scripting as well. With these scripts we did simple tasks to learn more about <b>Bash</b>. Some of these tasks involve taking data and converting it into <b>JSON</b>, and taking the list of users that logged into a server and formatting a list from that data! These scripts and more can be found from the github linked below!
    </p>
    <p class="text-start">Languages used:</p>
    <ul class="text-start text-info">
      <li>Bash</li>
      <li>JSON</li>
    </ul>
    <p>
      Here is a link to the gitub repository for the scripts: 
      <a href="https://github.com/chrisseals98/BashScripts" class="link-info" target="_blank">Bash Scripts</a>
    </p>

</div>