<div class="container-fluid p-5 text-center bg-dark text-white">
    <h1>DOTNET Projects</h1>
    <p class="">
      <br>
      I used the <b>.NET</b> 6.0 framework for some projects during college for my CSCI-2910 class. This class was about server-side programming so there was a lot of emphasis on interacting with databases through a <b>.NET</b> application and using the tools of <b>.NET</b> such as <b>NuGet</b>. I found that after working in <b>.NET</b> and using the tools it offered, I strongly preferred <b>C#</b> over <b>Java</b> for <b>OOP</b>.
    </p>
    <p class="border-bottom"></p>
    <h3>Library Database</h3>
    <figure class="figure">
      <img src="lab5DB.png" alt="Screenshot of application" class="figure-img img-fluid rounded">
      <figcaption>Picture of the application running</figcaption>
    </figure>
    <p class="bg-dark text-white">
      The first project I would like to show is the ORM (Object Relational Mapper) lab in my CSCI-2910 class. In this project, we had to interact with a <b>SQLite</b> database to perform all CRUD operations with objects that I had made classes for in a <b>.NET</b> application. This was supposed to model a library with books and rentals, so it had objects for a book, author, etc. We also had to make sure to use generics so that any object could be used with the Querybuilder class we created to perform each CRUD operation. This was done with the generic types in <b>C#</b> along with using an interface to get the Id of each entity.

      <p class="text-start"><br>What was used for this lab:</p>
      <ul>
        <li class="text-start text-info">C#, .NET 6.0</li>
        <li class="text-start text-info">NuGet for SQLite packages</li>
        <li class="text-start text-info">SQLite</li>
      </ul>
      <p>
        Here is a link to the gitub repository for the lab: 
        <a href="https://github.com/chrisseals98/ORM-Lab" class="link-info" target="_blank">SQLite Database Querybuilder</a>
      </p>
      <p class="border-bottom"></p>

    <h3>JSON Lab</h3>
    <figure class="figure">
      <img src="lab7JSON.png" alt="Screenshot of JSON used" class="figure-img img-fluid rounded">
      <figcaption>Picture of Google JSON Data used</figcaption>
    </figure>
    <p class="bg-dark text-white">
      The next project from this class was a <b>JSON</b> and <b>Postman</b> lab where we had to interact with a Google API for the Google books library with <b>Postman</b>. Then after we receive the <b>JSON</b> from interacting with the Google API we had to interact with this <b>JSON</b> by parsing it into <b>C#</b> objects and vice versa. We had to do this with both the <b>JSON</b> converter included in the system libraries with <b>.NET</b> and the <b>Newtonsoft</b> package from <b>NuGet</b>. This was a good lab to show how you can interact with many different tools to get the results you need.

      <p class="text-start"><br>What was used for this lab:</p>
      <ul>
        <li class="text-start text-info">C#, .NET 6.0</li>
        <li class="text-start text-info">NuGet for Newtonsoft</li>
        <li class="text-start text-info">JSON</li>
        <li class="text-start text-info">Postman</li>
        <li class="text-start text-info">Google Books API</li>
      </ul>
      <p>
        Here is a link to the gitub repository for the lab: 
        <a href="https://github.com/chrisseals98/Json-serializer-lab" class="link-info" target="_blank">Postman and JSON interations</a>
      </p>
</div>