<div class="container-fluid p-5 text-center bg-dark text-white ">
    <h1>Welcome!</h1>
    
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="carousel" data-bs-theme="dark" style="max-width: 700px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="web#dnd">
            <img src="dnd.png" class="d-block w-100 img-fluid" alt="dnd asp.net app">
          </a>
          <div class="carousel-caption text-black">
            DnD character web app
          </div>
        </div>
        <div class="carousel-item">
          <a href="java#java">
            <img src="notepadGUI.png" class="d-block w-100 img-fluid" alt="java game project">
          </a>
          <div class="carousel-caption">
            JavaFX game project
          </div>
        </div>
        <div class="carousel-item">
          <a href="web#bucstop">
            <img src="bucstop.png" class="d-block w-100 img-fluid" alt="bucstop app">
          </a>
          <div class="carousel-caption">
            BucStop web app
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br>
    <figure class="figure">
      <img src="information.png" alt="Information" class="figure-img rounded">
    </figure>
    <p>To get started and look around, use the navbar on the top of the page
      <ul class="list-group">
        <li class="list-group-item bg-dark text-white border-2">The <b>About Me</b> button is to learn more about me and to see my skills and experience.</li>
        <li class="list-group-item bg-dark text-white border-2">The <b>Projects</b> button will open a dropdown menu that has different projects I've worked on during my time at ETSU.</li>
        <li class="list-group-item bg-dark text-white border-2">The <b>Contact Me!</b> button will tell you to contact me if you wish.</li>
      </ul>
      <br>Thanks for coming by!<br>
      <img src="chatHeartWhite.svg" alt="Thanks!">
</div>